@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root {
  --text-color: #333136;
  --primary-dark: #E7816B;
  --primary-light: #FDF3F0;
  --secondary-dark: #1D1C1E;
  --primary-font: 'Jost', sans-serif;
  --secondary-font: 'League Spartan', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
}

.nav-items {
  padding: 35px 24px;
  display: flex;
  justify-content: space-between;
  border:1px solid red;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  z-index: 10;
}

.header-circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: conic-gradient(from 90deg at 50% 50%, rgba(231, 129, 107, 0.0001) 0deg, 
  #E7816B 359.74deg, rgba(231, 129, 107, 0.0001) 360deg);
  transform: matrix(0, -1, -1, 0, 0, 0);
}

.title,
.title-footer {
  margin-left: 16px;
  font-size: 24px;
  line-height: 24px;
  font-family: var(--secondary-font);
  font-weight: 600;
  letter-spacing: 5px;
  margin-top: 4px;
  
}

.title {
  color: var(--text-color);
}

.title-footer {
  color: #FFFFFF;
}

.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.icon-container i{
  font-size: 24px;
  width: 24px;
  height: 20px;
  color: var(--secondary-dark);
}

.hero {
  background-color: var(--primary-dark);
  height: 843px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hero::before{
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: calc(50% - 640px/2);
  left: 0;
  z-index: 1;
  background: url("./assets/home/desktop/bg-pattern-hero-home.svg") no-repeat;
  background-size: 640px;
}

.hero-container {
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

.hero-content {
  margin: 80px 24px;
  text-align: center;
}

.hero-content > h2 {
  font-size: 32px;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.hero-content > p {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 25px;
}

.hero-btn {
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  letter-spacing: 1px;
  margin-top: 24px;
}

.hero-image {
  height: 543px;
  margin: 0 46px 0 46px;
  background-image: url('./assets/home/desktop/image-hero-phone.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.offers {
  margin: 120px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.offer-container-web,
.offer-container-app,
.offer-container-graphic {
  height: 250px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-container-web {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('./assets/home/mobile/image-web-design.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.offer-container-app {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('./assets/home/mobile/image-app-design.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.offer-container-graphic {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('./assets/home/mobile/image-graphic-design.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.offer-item {
  color: #FFFFFF;
  text-align: center;
}

.offer-item > h2 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1.4px;
}

.offer-item > p {
  font-size: 15px;
  margin-top: 12px;
  font-weight: 500;
  letter-spacing: 5px;
}

.bracket {
  margin-left: 16px;
}

.bracket i {
  color: var(--primary-dark);
}

.soft-skills {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.soft-skills-container {
  margin: 0 24px;
}

.soft-skills-desc {
  text-align: center;
}

.soft-skills-desc > h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 32px;
  letter-spacing: 5px;
}

.soft-skills-desc > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.soft-skills-image {
  margin: 0 auto 48px auto;
  position: relative;
}

.soft-skills-image,
.soft-skills-circle {
  height: 202px;
  width: 202px;
}

.circle-passionate {
  transform: rotate(-120deg)
}

.circle-resourceful {
  transform: rotate(180deg)
}

.soft-skills-circle,
.skills-pic {
  position: absolute;
}

.footer {
  min-height: 815px;
  background-color: var(--secondary-dark);
  position: relative;
  margin-top: 286px;
}

.footer-container {
  position: absolute;
  top: -22%;
}

.footer-contents {
  margin: 64px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container.footer-logo {
  margin-bottom: 32px;
  width: 100%;
  justify-content: center;
}

.footer-nav {
  text-align: center;
  border-top: 1px solid #2f2f2f;
  width: 100%;
}

.footer-nav li {
  margin-top: 32px;
  list-style: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
}

.office-location,
.contact-us {
  text-align: center;
}

.office-location {
  margin-block: 40px;
}

.contact-us {
  margin-bottom: 40px;
}

.office-location > p,
.contact-us > p {
  color: #979797;
}

.bold {
  font-weight: 700;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.footer-icons i {
  color: var(--primary-dark);
  font-size: 24px;
}

.get-in-touch {
  margin: 0 24px 64px 24px;
  background-color: var(--primary-dark);
  border-radius: 15px;
}

.get-in-touch-container {
  padding: 64px 24px;
  text-align: center;
  color: #FFFFFF;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 2px solid greenyellow;
}

.get-in-touch-wrapper {
  border: 5px solid red;
  position: relative;
  overflow: hidden;
}

.get-in-touch-wrapper::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: 1;
  background: url("./assets/home/desktop/bg-pattern-hero-home.svg");
  background-size: 292px;
  transform: rotate(30deg);
}

.get-in-touch-container > h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 16px;
}

.get-in-touch-container > p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 32px;
}

.footer-btn {
  padding: 16px 18px;
  border: none;
  border-radius: 8px;
  letter-spacing: 1px;
}

.mg-bottom {
  margin-bottom: 24px;
}

button:hover {
  cursor: pointer;
}
